body {
    /* heigh:665px; */
    background-image: url("../../public/assets/images/authentication-bg.jpg");
    /* background-size: 130rem;    */
    /* background-size: cover */
    /* background-size: width height */
    /* background-size: 100px 200px;  */
    /* background-color: #0f1473; */
    /* background-position: 100px 50px; */
    /* background-repeat: no-repeat; */

    background-size: 145% auto;
    
  }

  
