label{
    color: #fff;
  }

h4{
    color: #fff;
  }

h5{
    color: #fff;
  }

table th {
  text-align: center;
}

.gray1 {
  background-color: rgb(70, 70, 70);}
  .gray2{
    background-color: rgb(80, 80, 80);}
    .gray3{
      background-color: rgb(50, 50, 50);}
      .gray3{
        background-color: rgb(60, 60, 60);}

      .main-sidebar 
      {
        background-color: rgb(60, 60, 60);}

        span{
          color: #fff;
        }
